services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: trueque_backend
    restart: always
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
      JWT_SECRET: yHj38fnskL_29adPqQp93sKD
      RECAPTCHA_SECRET_KEY: 6LeqNgAsAAAAADILETd6EzDSwdecwd0ERUW9fOfp
      RECAPTCHA_SITE_KEY: 6LeqNgAsAAAAAPSTIWyTc--LX2dcSOAFxeXdsOZi
      RECAPTCHA_TEST: "false"
      ROBLE_API_URL: https://roble-api.openlab.uninorte.edu.co
      ROBLE_PROJECT_TOKEN: trueque_29b341a61b
    healthcheck:
      test: ["CMD", "node", "-e", "require('http').get('http://localhost:3000', (res) => { process.exit(res.statusCode === 404 || res.statusCode === 200 ? 0 : 1); }).on('error', () => process.exit(1));"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    networks:
      - trueque_network

networks:
  trueque_network:
    driver: bridge
